@import '~node_modules/modern-normalize/modern-normalize.css';

$font-stack: (
  primary: 'Poppins, sans-serif',
  // font Poppins
  secondary: 'Inter Tight, sans-serif' // font Inter Tight,,,,,,,,,
);

body {
  min-height: 100vh;
  width: 1920px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: map-get($font-stack, primary);
  background-color: var(--Beige);
}

// a:not([class]) {
//   text-decoration-skip-ink: auto;
// }
