.list {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
