:root {
  // colors
  --Beige: '#FAF7F0';
  --White: '#FFFFFF';
  --Black1: '#151515';
  --Black2: '#000000';
  --GreyWarm: '#3F3F3F';
  --GreyGokd: rgba(21, 21, 21, 0.4);
  --DarkBlue: '#171044';
  --Red: '#9A1A1A';
  --Blue: '#0C21C1';
  // --transparent: 'transparent';
  // --currentColor: 'currentColor';

  /*fonts*/
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter Tight', sans-serif;
}
