:root {
  // colors
  --beige: #faf7f0;
  --white: #ffffff;
  --black1: #151515;
  --black2: #000000;
  --greyWarm: #3f3f3f;
  --greyGold: rgba(21, 21, 21, 0.4);
  --darkBlue: #171044;
  --red: #9a1a1a;
  --blue: #0c21c1;
  // --transparent: 'transparent';
  // --currentColor: 'currentColor';

  /*fonts*/
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter Tight', sans-serif;
}
