<section class="about">
  <div class="about__description">
    <h2 class="about__title">about us</h2>
    <p class="about__title-text">
      In-Person Boat Monitoring | IPM - is a service aimed at providing safety
      and confidence for boat owners. We serve as vigilant custodians for your
      boat, whether you're away from the marina or even out of the country.
      Consider us the trusted eyes you can rely on and the professionals you can
      call at any time to ensure your boat's security.
    </p>
  </div>
  <div class="about__content">
    <ul>
      <li>
        <div class="frame">
          <span class="frame__number">01</span>
        </div>
        <div class="about__content-wrap">
          <h2 class="about__content-title">What is IPM:</h2>
          <p class="about__content-text">
            In-Person Boat Monitoring | IPM - is a service aimed at providing
            safety and confidence for boat owners. We serve as vigilant
            custodians for your boat, whether you're away from the marina or
            even out of the country. Consider us the trusted eyes you can rely
            on and the professionals you can call at any time to ensure your
            boat's security.
          </p>
        </div>
      </li>
      <li>
        <div class="frame">
          <span class="frame__number">02</span>
        </div>
        <div class="about__content-wrap">
          <h2 class="about__content-title">What we do:</h2>
          <p class="about__content-text">
            Our team of IPM Inspectors makes regular physical visits to your
            marina, ensuring your boat is safe and well cared for. We provide
            you with comprehensive photo and video reports, capturing every
            conceivable angle, from the mast to the deck, assessing the
            condition of fenders, offering a general overview, and providing
            insights into the surrounding environment. Importantly, we respect
            your privacy and do not interfere with onboard electronic monitoring
            systems, CCTV, or the like.
          </p>
        </div>
      </li>
      <li>
        <div class="frame">
          <span class="frame__number">03</span>
        </div>
        <div class="about__content-wrap">
          <h2 class="about__content-title">How we do it:</h2>
          <p class="about__content-text">
            We operate exclusively under a Power of Attorney and are strictly
            limited to monitoring activities. Rest assured, we never set foot on
            your boat. Instead, we maintain our watchful eye from the pontoon or
            pier. To facilitate our access, we will coordinate with your marina,
            ensuring they are aware of our authorized status, and provide them
            with the necessary Power of Attorney documentation. Let us emphasize
            once more; we do not board your boat.
          </p>
        </div>
      </li>
      <li>
        <div class="frame">
          <span class="frame__number">04</span>
        </div>
        <div class="about__content-wrap">
          <h2 class="about__content-title">Where we operate:</h2>
          <p class="about__content-text">
            Our primary focus in Spain is the beautiful Costa del Sol,
            encompassing the area from Malaga to Gibraltar. Currently, our
            services extend to the following marinas:<br />
            · Marina Marbella la Bajadilla<br />
            · Marina Marbella<br />
            · Puerto Banus<br />
            And the exciting news? We have plans to expand to an additional 15
            marinas in the future.
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="about__slider">
    <div class="about__slider-line">
      <img src="./images/sliderm01.jpg" alt="boat" />
      <img src="./images/sliderm02.jpg" alt="noad" />
      <img src="./images/sliderm03.jpg" alt="boats" />
      <img src="./images/sliderm04.jpg" alt="yacht" />
      <img src="./images/sliderm05.jpg" alt="bow" />
    </div>
    <div class="about__slider-btn">
      <button class="about__slider-left">
        <svg class="about__slider-icon" width="30" height="30">
          <use xlink:href="sprite-icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="about__slider-right">
        <svg class="about__slider-icon">
          <use xlink:href="sprite-icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  <div>
    <button class="about__button" type="submit">i want to order ipm</button>
  </div>
</section>
