<section class="contacts">
  <div class="contacts__title-wrap">
    <h2 class="contacts__title">contacts</h2>
    <p class="contacts__title-text">
      Ready to embark on the journey of ensuring your boat's safety and
      well-being? Contact us!
    </p>
  </div>
  <div>
    <ul class="contacts__content-list">
      <li class="contacts__content-item">
        <div class="contacts__wrap">
          <h3 class="contacts__content-title">Email</h3>

          <p class="contacts__content-text">Theboats.eu@gmail.com</p>
        </div>
      </li>
      <li class="contacts__content-item">
        <div class="contacts__wrap">
          <h3 class="contacts__content-title">Phone</h3>
          <p class="contacts__content-text">
            +34674197870 Calls, sms, whatsapp
          </p>
        </div>
      </li>
      <li class="contacts__content-item">
        <div class="contacts__wrap">
          <h3 class="contacts__content-title">Address</h3>
          <p class="contacts__content-text">
            SPAIN Marina Marbella La Bajadilla Marbella,
          </p>
        </div>
      </li>
      <li class="contacts__content-item">
        <div class="contacts__wrap">
          <h3 class="contacts__content-title">Address</h3>
          <p class="contacts__content-text">
            CZECH REPUBLIC Chodska street, Brno
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
