<header class="header">
  <a class="header__logo" href="./index.html">
    <svg width="255" height="97">
      <use xlink:href="sprite-icons.svg#logo"></use>
    </svg>
  </a>

  <ul class="header-nav">
    <li class="header-item">
      <a class="link header-link" href="">In-Person Boat Monitoring | IPM</a>
    </li>
    <li class="header-item">
      <a class="link header-link" href="">Try or buy</a>
    </li>
    <li class="header-item">
      <a class="link header-link" href="">Contacts</a>
    </li>
    <li class="header-item">
      <a class="link header-link" href="">Your gallery</a>
    </li>
  </ul>

  <div>
    <ul class="header-social">
      <li>
        <a
          class="header-social__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="share"
        >
          <svg class="icon">
            <use xlink:href="sprite-icons.svg#share"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-social__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram"
        >
          <svg class="icon">
            <use xlink:href="sprite-icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-social__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtobe"
        >
          <svg class="icon">
            <use xlink:href="sprite-icons.svg#youtobe"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-social__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
        >
          <svg class="icon">
            <use xlink:href="sprite-icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
