<header class="header">
  <div class="container">
    <a class="header__logo" href="./index.html">
      <svg>
        <use xlink:href="sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="header-nav">
      <ul>
        <li>In-Person Boat Monitoring | IPM</li>
        <li>Try or buy</li>
        <li>Contacts</li>
        <li>Your gallery</li>
      </ul>
    </div>
    <div class="header-social">
      <ul>
        <li>
          <a
            class="header-social__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="share"
          >
            <svg class="icon">
              <use xlink:href="sprite.svg#share"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-social__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram"
          >
            <svg class="icon">
              <use xlink:href="sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-social__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="youtobe"
          >
            <svg class="icon">
              <use xlink:href="sprite.svg#youtobe"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-social__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
          >
            <svg class="icon">
              <use xlink:href="sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
