<section class="subscribe">
  <h2 class="subscribe__title">sign up for:</h2>
  <div class="subscribe__wrap">
    <div class="subscribe__frame">
      <div class="subscribe__title">
        <div class="subscribe__info">Contact us at</div>
        <div class="subscribe__email">Theboats.eu@gmail.com</div>
      </div>
      <div class="subscribe__social">
        <p class="subscribe__message">Please, subscribe:</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</section>
