.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.4) 0%,
      rgba(36, 36, 36, 0.4) 100%
    ),
    url('../images/main1.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 1064px;
}
.hero__container {
  width: 1163px;
  height: 669px;

  position: absolute;
  right: 363px;
  top: 197px;
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.4) 0%,
      rgba(36, 36, 36, 0.4) 100%
    ),
    url('../images/main2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  position: absolute;
  left: 34px;

  bottom: 217.206px;
}

.hero__title {
  // border: solid 3px red;
  color: var(--white);
  text-align: center;

  font-family: var(--secondary-font);
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero__btn {
  display: flex;
  width: 1095px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero__btn-main {
  display: flex;
  width: 287px;
  height: 72px;
  padding: 14px 26px;
  justify-content: center;
  align-items: center;
  gap: 6.129px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--black1);

  background: var(--black1);
  color: var(--white);

  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.44px;
  text-transform: uppercase;
}

.hero__btn-second {
  display: flex;
  width: 287px;
  height: 72px;
  padding: 14px 26px;
  justify-content: center;
  align-items: center;
  gap: 6.129px;
  flex-shrink: 0;

  border-radius: 100px;
  border: 1px solid var(--white);

  color: var(--white);
  /* Body Text, 22PX TEXT */
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1; /* 24.2px */
  letter-spacing: -0.44px;
  text-transform: uppercase;
}
