.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.4) 0%,
      rgba(36, 36, 36, 0.4) 100%
    ),
    url('../images/main1.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 1064px;

  &__container {
    width: 1163px;
    height: 669px;

    position: absolute;
    right: 363px;
    top: 197px;
    background-image: linear-gradient(
        0deg,
        rgba(36, 36, 36, 0.4) 0%,
        rgba(36, 36, 36, 0.4) 100%
      ),
      url('../images/main2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    position: absolute;
    left: 34px;

    bottom: 217px;
  }

  &__title {
    // border: solid 3px red;
    color: var(--white);
    text-align: center;

    font-family: var(--secondary-font);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &__btn {
    display: flex;
    width: 1095px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__btn-main {
    @include main-btn-styles;
    @include font-styles-body;
    width: 287px;
    height: 72px;

    color: var(--white);

    &:hover {
      border-radius: 100px;
      border: 5px solid #777;
      background: #282828;
    }

    &:active {
      border: 5px solid #777;
      background: #0a091f;
    }

    &:focus {
      border: 5px solid #777;

      background: var(--black1);
    }
    &:disabled {
      border: 1px solid rgba(21, 21, 21, 0.3);
      background: rgba(21, 21, 21, 0.3);
    }
  }

  &__btn-second {
    @include second-btn-styles;
    @include font-styles-body;
    width: 287px;
    height: 72px;

    color: var(--white);

    &:hover {
      border: 5px solid var(--white);
    }

    &:active {
      border: 5px solid #ffa400;
      background: #eee;

      color: var(--black1);
    }

    &:focus {
      border: 5px solid #ffa400;
      background: #fdfdfd;

      color: var(--black1);
    }

    &:disabled {
      border: 5px solid rgba(21, 21, 21, 0.3);

      color: rgba(21, 21, 21, 0.3);
    }
  }
}
